* {
  box-sizing: border-box;
}

body {
  background-image: url(https://media1.thehungryjpeg.com/thumbs2/ori_3626271_o44w487l36ewjn7ciwgtuluvijdl5j1yy5dsmkj3_western-background-dessert-silhouettes-and-cowboys-on-horses-wildlife.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  height: 515px;
}

.wrapper {
  text-align: center;
  width: 1142px;
  margin: 0 auto;
}

.gametitle {
  font-size: 50px;
  margin-top: 0px;
}

.gamebox {
  margin-left: 600px;
  margin-top: 175px;
  letter-spacing: 10px;
  font-size: 70px;
}

#underscores {
  display: inline-block;
  letter-spacing: 80px;
}

#buttons {
  padding: 20px;
  width: 555px;
  background-color: black;
  margin: -20px 285px;
}
